@charset "utf-8";

@page { size: A4; margin: 12.7mm 9.7mm; }

.header .headerLogo { margin: 1em; }
.header .headerSearch, .header .gNaviBtn, .header .gNaviMenu, .topBox__box--right, .bottomBox__footer, .goTop, .breadcrumbs, .job, .seeker, .front__cat, .application, .subPage .article__wrap .btns { display: none; }


h1, h2, h3, h4, h5, h6 { background: transparent !important; margin-left: 0 !important; margin-right: 0 !important; /*padding-left: 0 !important; padding-right: 0 !important;*/}

body { -webkit-print-color-adjust: exact; }
body, article, table { width: auto; margin: 0; padding: 0; font-size: 11pt; }
h1 { width: auto; font-size: 16pt; line-height: 1.6;}
h2 { width: auto; font-size: 14.5pt; line-height: 1.6;}
h3, h4, h5, h6 { width: auto; font-size: 12pt; line-height: 1.6;}
.topBox__box--left { margin: 1em;}

/* front page */
.hero {
  padding-bottom: 3em;
}
.hero svg { margin-top: 1em; }
.hero .hero__txt { margin-top: 0.5em; }
.common { padding: 3em 1em; }
.jobs { padding: 0 1em 3em; }
.cards__wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
 }
.cards__wrap .card__wrap--link {
    display: block;
    width: calc(33.3333333333% - 17px);
    margin-right: 25px;
    margin-bottom: 25px;
 }
.cards__wrap .card__wrap--link:nth-of-type(3n) {
    margin-right: 0;
}
.cards__wrap .card__wrap--link .card .card__box--left {
    width: calc(100% - (124px + 0.5em));
    padding: 1.5em 1em 1.5em 1.5em;
}
.cards__wrap .card__wrap--link .card .card__box--right {
    width: calc(124px + 0.5em);
    padding: 0.5em 0.5em 0.5em 0;
}
.cards__wrap .card__wrap--link .card {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: #fff;
  border-radius: 4px;
  border: solid 1px #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}
.cards__wrap .card__wrap--link .card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1.5em;
  width: 1.5em;
  height: 5px;
  background: #1a8cd8;
}
.cards__wrap .card__wrap--link .card .card__box--right .img__wrap {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: #f9f9f9;
}
.cards__wrap .card__wrap--link .card .card__box--right .img__wrap .job__img {
  border-radius: 4px;
}
.result .card__wrap--link .result__card {
  display: block;
  position: relative;
  padding: 1.5em;
  background: #fff;
  border-radius: 4px;
  border: solid 1px #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}
.result .card__wrap--link .result__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 1.5em;
  width: 1.5em;
  height: 5px;
  background: #1a8cd8;
}
.result .card__wrap--link .result__card .cat__ttl {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #171819;
}
.result .card__wrap--link .result__card .cat__date {
  color: #a8a8a8;
  font-size: 0.8rem;
  font-weight: "Roboto", sans-serif;
}
.result .card__wrap--link .result__card .cat__txt {
  margin-top: 1em;
  font-size: 1rem;
  line-height: 1.6;
}
.subPage .info__wrap .content h3 {
  background: #171819 !important;
}
.subPage .info__wrap .content .business {
    display: flex;
  }
  .subPage .info__wrap .content .business .business__item {
    /* padding-right: 0; */
    position: relative;
    z-index: -1;
  }
  .subPage .info__wrap .content .business .business__item::before {
    content: "";
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0.5em;
    width: 1em;
    height: 0.2em;
    margin: auto;
    background: #ef7d00;
  }
  .subPage .info__wrap .content .business .business__item::after {
    content: "";
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: -0.6em;
    right: 0.2em;
    width: 0.65em;
    height: 0.65em;
    margin: auto;
    border: 0.2em solid #ef7d00;
    border-left: 0;
    border-bottom: 0;
    transform: rotate(45deg);
    transform-origin: top right;
    box-sizing: border-box;
  }
  .subPage .info__wrap .content .business .business__item:last-of-type {
    padding-right: 1em;
  }
  .subPage .info__wrap .content .business .business__item:last-of-type::before {
    display: none;
  }
  .subPage .info__wrap .content .business .business__item:last-of-type::after {
    display: none;
  }
.subPage .info__wrap .content .business .business__item .business__ttl {
  background: #ef7d00 !important;
}
.subPage .info__wrap .content .list .ttl {
  background: #1a8cd8 !important;
}
.subPage .info__wrap .content .list .list__box .list__wrap .list__ttl {
  font-size: 0.8rem;
}
.subPage .info__wrap .content .list .list__box .list__wrap .list__txt {
  position: relative;
  padding-left: 1em;
  font-size: 0.8rem;
}
.subPage .info__wrap .content .list .list__box .list__wrap .list__txt::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0.3em;
  height: 0.3em;
  border-radius: 0.3em;
  background: #a0a0a0;
  margin: auto;
}
  .subPage .info__wrap .content .list .list__box {
    display: flex;
    flex-wrap: wrap;
  }
  .subPage .info__wrap .content .list .list__box .list__wrap {
    margin-right: 1em;
    padding-right: 1em;
    border-right: dotted 1px #a0a0a0;
  }
  .subPage .info__wrap .content .list .list__box .list__wrap:last-of-type {
    border-right: 0;
  }
  .subPage .info__wrap .content .voice .voice__img {
    position: absolute;
    top: -3em;
    left: -5em;
    width: 20%;
    height: 20%;
  }
  .subPage .info__wrap .content .voice .pic__wrap .voice__pic {
    width: 60%;
    height: 60%;
    margin: auto;
  }
  .subPage .info__wrap .content .iframe-wrapper iframe {
    height: 300px;
    width: 100%;
  }
